.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.button {
  width: 100px;
  height: 90px;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button p {
  width: min-content;
  text-align: center;
}
.button:hover {
  cursor: pointer;
}
